body {
    background-color: #1a82f7;
    font-family: 'Limelight', serif;
    font-size: 48px;
    color: yellow;
     
}

h1 {
    line-height: 0.5;
}

ul {
    line-height: 0.1;
}

hr {
    height: 10px;
    background-color: yellow;
}

div.footer {
    font-size: 24px;
}

div.controls {
    font-size: 24px;
    }

div.current-time {
    font-size: 72px;
}

a {
    color: yellow;
    text-decoration: none;
}


