body {
    background-color: #1a82f7;
    font-family: 'Limelight', serif;
    font-size: 48px;
    color: yellow;
     
}

h1 {
    line-height: 0.5;
}

ul {
    line-height: 1.1;
}

hr {
    height: 10px;
    background-color: yellow;
    border: 0px;
}

div.footer {
    font-size: 24px;
}

div.controls {
    font-size: 24px;
    }

div.current-time {
    font-size: 126px;
}

a {
    color: yellow;
    text-decoration: none;
}

a.bonzai {
    font-size: 24px;
    color: red;
}

p.flashes {
    font-size: 24px;
    color: red;
    background-color: yellow;
}

input[type="text"] {
    font-family: 'Limelight', serif;
    font-size: 48px;
    color: yellow;
    padding:3px;
    border-color: blue;
    border-size: 2px;
    background-color: #1a82f7;
}

li.ui-menu-item {
    height: 48px;
    background-color: #1a8200;
}

