{% extends "layout.html" %}

{% block includes %}
	<!-- JS -->
	<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<script src="/static/js/libs/modernizr-1.7.min.js"></script> 
    <!-- JS -->
    <script src="/static/js/libs/jquery-1.6.1.min.js"></script> 
    <script src="/static/js/libs/soundmanager/soundmanager2-nodebug.js"></script> 
    <script src="/static/js/jquery.player.js"></script>

{% endblock %}

{% block body %}
	
	<section>
		<div class="player">		
			<div class="controls">
                <a class="button play">play</a> | <a class="button pause">pause</a> | <a href="/">shuffle</a> | <a class="button stop">rewind</a>	
			</div>
			
			<div class="volume-bar">
				<div class="value" style="width: 75%;"></div>
			</div>
			
			<div class="current-time">00:00</div>
	</section>

    <hr/>
    <section>

    <p>twitter user: {{ user }}</p>
<ul>
    {% for item in song.tags %}
    <li><a href="/tag/{{ item.name }}">{{ item.name }}</a></li>
    {% endfor %}
    </ul>
	
    <input type="text" name="q" id="query" />
    </section>
<hr/>

{% endblock %}

{% block scripts %}
	<script type="text/JavaScript">
	var musics = [
		{
			title: "{{tn}}",
			artist: "{{tn}}",
			album: "{{tn}}",
			mp3: "/static/tnz/{{ tn }}.mp3"
		},
	];

soundManager.url = '/static/js/libs/soundmanager/';
soundManager.flashVersion = 9;
soundManager.useFlashBlock = false;

soundManager.onload = function() {
	$('.player').player({ 
		playlist: musics,

		playButton: '.button.play',
		pauseButton: '.button.pause',
		stopButton: '.button.stop',
		
		nextButton: '.button.next',
		previousButton: '.button.previous',

		onLoad: function() {
			$('.player .duration').text(millisecondsToTime(this.durationEstimate));

			var song = $('.player').player('getSong');
			$('header h2').show().children('span').text(song.artist + ' - ' + song.title);			
		},

		onStop: function() {
			$('.player .progress').width(0);
			$('.player .duration,.player .current-time').text('00:00');
			
			$('header h2 span').text('');
		},

		whilePlaying: function() {
			var percent = (this.position * 100) / this.durationEstimate;

			$('.player .progress').width(percent.toFixed(2) + '%');
			$('.player .current-time').text(millisecondsToTime(this.position));
		}
	});
};

function millisecondsToTime(milliseconds) {
	var seconds = Math.ceil(milliseconds / 1000),
		minutes = 0,
		hours = 0,
		output = '';

	hours = Math.round(seconds / 3600);
	seconds = seconds % 3600;

	minutes = Math.round(seconds / 60);
	seconds = seconds % 60;

	if (hours < 10)
		hours = '0' + hours;
	
	if (minutes < 10)
		minutes = '0' + minutes;
	
	if (seconds < 10)
		seconds = '0' + seconds; 

	if (parseInt(hours) > 0)
		output += hours + ':';

	output += minutes + ':';
	output += seconds;
	
	return output;
}
</script>
{% endblock %}
