{% extends "layout.html" %}

{% block includes %}
	<!-- JS -->
	<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<script src="/static/js/libs/modernizr-1.7.min.js"></script> 
    <!-- JS -->
    <script src="/static/js/libs/jquery-1.6.1.min.js"></script> 
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js"></script>
{% endblock %}

{% block title %}

<p>Retag as <img src="http://img.tweetimag.es/i/{{ user }}_b" /> {{ user }}</p>
<hr/>

{% endblock %}

{% block body %}

    <section>
    <ul>
    {% for item in song.tags %}
    <li>
        <a href="/tag/{{ item.name }}">{{ item.name }}</a>
        <a class="bonzai" href="/rmtag/{{ song.hash }}/{{ item.name | flatten }}">[x]</a>
    </li>
    {% endfor %}
    </ul>
    <form action="/addtag/{{ song.hash }}/">	
        + <input type="text" name="tags" id="tags" />
    </form>
    </section>
<hr/>

{% endblock %}

{% block scripts %}
<script>
	$(function() {
		var availableTags = [
			"ActionScript",
			"AppleScript",
			"Asp",
			"BASIC",
			"C",
			"C++",
			"Clojure",
			"COBOL",
			"ColdFusion",
			"Erlang",
			"Fortran",
			"Groovy",
			"Haskell",
			"Java",
			"JavaScript",
			"Lisp",
			"Perl",
			"PHP",
			"Python",
			"Ruby",
			"Scala",
			"Scheme"
		];
		$( "#tags" ).autocomplete({
            source: availableTags,
            delay: 0
		});
	});
</script>
{% endblock %}
