{% extends "layout.html" %}

{% block includes %}
	<!-- JS -->
	<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<script src="/static/js/libs/modernizr-1.7.min.js"></script> 
    <!-- JS -->
    <script src="/static/js/libs/jquery-1.6.1.min.js"></script> 
{% endblock %}

{% block body %}

<h2>Retag</h2>
<hr/>
    <section>

    <p>twitter user: {{ user }}</p>
<ul>
    {% for item in song.tags %}
    <li><a href="/tag/{{ item.name }}">{{ item.name }}</a></li>
    {% endfor %}
    </ul>
	
    <input type="text" name="q" id="query" />
    </section>
<hr/>

{% endblock %}

{% block scripts %}
{% endblock %}
